#menu {
  background-color: #201c1c;
  height: 750px;
}

#menu .title {
  color: #e73d0c;
  text-align: center;
  font-size: 40px;
}

#menu .Main {
  font-size: 70px;
}

#menu ul, #menu li {
  text-align: center;
  margin-top: 40px;
  color: #787765;
}

#menu ul.przekaski > li {
  color: white;
  background-image: url("/img/menu/jedzenie.png");
  background-repeat: no-repeat;
  list-style: none;
  background-size: 25px;
  background-position-y: 10px;
  font-size: 30px;
}

#menu ul.przekaski {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#menu .leftMenu {
  float: left;
  width: 45%;
  height: auto;
}

#menu .midLine {
  background-color: white;
  float: left;
  width: 10px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
