#menu {
    background-color: #201c1c;
    height: 750px;

    .title{
        color: #e73d0c;
        text-align: center;
        font-size: 40px;
    }

    .Main{
        font-size: 70px;
    }


    ul,li{
        text-align: center;
        margin-top: 40px;
        color:#787765;
    
    }

    ul>li{
        color: white;
        background-repeat: no-repeat;
        list-style: none;
        font-size: 30px;
        
        
    }

    ul.przekaski>li{
        background-image: url('/img/menu/jedzenie.png');
        background-size: 25px;
        background-position-y: 10px;
    }


    ul{

        width:300px;
        margin-left: auto;  
        margin-right: auto;
    }


    .leftMenu{
        float:left;
        width: 50%;
        height: auto;
    }

    .midLine{
        background-color: white;
        float:left;
        width: 0.5%;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    
    }

    .rightMenu{
        float:right;
        width:49%;
    
    }

    ul.napoje>li{
        background-image: url('/img/menu/picie.png');
        background-size: 25px;
        background-position-y: 10px;
        background-position-x: 200px;
    }
}

