
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");
body {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

.navigator {
  display: flex;
  justify-content: space-between;
}

.navigator img:nth-child(1) {
  width: 300px;
  padding: 15px;
}

.navigator img:nth-child(2) {
  width: 100px;
  height: 100px;
  padding: 20px;
  margin-top: 4.5em;
}

.second-div {
  background-color: black;
}

.second-div .section-image {
  background-image: url("img/menu-pizza/pizza-back1.png");
  background-size: cover;
  background-position: center;
  height: 550px;
}

.second-div .section-image p {
  color: white;
  font-size: 50px;
  font-weight: 600;
  transform: translateY(-50px);
}

.second-div .menu {
  transform: translateY(-100px);
}

.second-div .menu .col article {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  height: 100%;
}

.second-div .menu .col article img {
  border-radius: 30px;
}

.second-div .menu .col article h2 {
  margin-top: 10px;
}

.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 32px;
}

.panel h6 {
  font-size: 48px;
  font-style: italic;
}

.panel p:nth-child(2) {
  font-size: 56px;
  font-style: italic;
  font-weight: bold;
}

.panel li:nth-child(1) {
  list-style-image: url(/img/welcome/vector-Dpp.png);
}

.panel li:nth-child(3) {
  list-style-image: url(/img/welcome/vector-Dpp.png);
}

.panel li:nth-child(2) {
  list-style-image: url(/img/welcome/vector-qQQ.png);
}

.panel li:nth-child(4) {
  list-style-image: url(/img/welcome/vector-qQQ.png);
}

.lewo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.prawo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.prawo img {
  width: 564px;
  height: 543px;
  border-radius: 20%;
  padding: 5px;
}

.icons {
  margin-top: 10em;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
}

.icons img {
  width: 100px;
}

.icons p {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
}

.low img {
  margin-bottom: 10px;
}

@media screen and (max-width: 995px) {
  .panel {
    flex-direction: column;
  }
  .lewo, .prawo {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.fifth-div div img {
  border-radius: 30px;
}

@media screen and (max-width: 992px) {
  .fifth-div div article {
    text-align: center;
  }
}

.fifth-div div article ul {
  list-style-type: none;
  padding-left: 1rem;
}

.fifth-div div article a {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #e73d0c;
  padding: 15px 20px;
  color: black;
  border-radius: 30px;
}

footer {
  background-color: #333333;
  color: white;
  height: 200px;
}


#menu {
  background-color: #201c1c;
  height: 750px;
  position: relative;
}

#menu .title {
  color: #e73d0c;
  text-align: center;
  font-size: 40px;
}

#menu .Main {
  font-size: 70px;
}

#menu ul, #menu li {
  text-align: center;
  margin-top: 40px;
  color: #787765;
}

#menu ul > li {
  color: white;
  background-repeat: no-repeat;
  list-style: none;
  font-size: 30px;
}

#menu ul.przekaski > li {
  background-image: url("/img/menu/jedzenie.png");
  background-size: 25px;
  background-position-y: 10px;
}

#menu ul {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#menu .leftMenu {
  float: left;
  width: 50%;
  height: auto;
}

#menu .midLine {
  background-color: white;
  float: left;
  width: 0.5%;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#menu .rightMenu {
  float: right;
  width: 49%;
}

#menu ul.napoje > li {
  background-image: url("/img/menu/picie.png");
  background-size: 25px;
  background-position-y: 10px;
  background-position-x: 200px;
}

#kontakt {
  height: 700px;
  background-image: url("/img/kontakt/kanapka-3.png");
}

#kontakt #adres {
  margin-left: 15%;
}

#kontakt div {
  background-color: white;
  width: 20%;
  height: 430px;
  margin-left: 6%;
  text-align: center;
  display: inline-block;
  padding: 20px;
  padding-top: 50px;
  vertical-align: top;
  margin-top: 100px;
}

#kontakt h1, #kontakt h2 {
  color: black;
}

#kontakt h1 {
  margin-bottom: 50px;
  font-size: 50pt;
}

#kontakt h2 {
  font-size: 30pt;
}

#kontakt img {
  width: 50px;

}
