* { box-sizing: border-box; font-family: Josefin Slab, 'Source Sans Pro'; }

$przesuniecie: -50px;
$def-back: black;
$white-back: white;
$bradius: 30px;

.second-div {
    background-color: $def-back;
    .section-image { 
        background-image: url("img/menu-pizza/pizza-back1.png");
        background-size: cover; 
        height: 550px; 
        p { 
            color: $white-back; 
            font-size: 60px; 
            font-weight: 600;
            transform: translateY($przesuniecie); 
        }
    }
    .menu {
        transform: translateY(-100px);
        .row {
            .col {
                img {
                    border-radius: $bradius;
                }
                article {
                    background-color: $white-back;
                    padding: 20px;
                    border-radius: $bradius;
                    font-style: italic;
                    h2 { margin-top: 10px; }
                }
            }
        }
    }
}

.fifth-div {
    div:first-child {
        max-width: 560px;
        img {
            border-radius: $bradius;
        }
    }
    div:last-child {
        max-width: 660px;
        article {
            @media screen and (max-width: 992px) {
                text-align: center;
            }
            ul {
                list-style-type: none;
                padding-left: 1rem;
            }
            a {
                cursor: pointer;
                text-decoration: none;
                border: 1px solid #e73d0c;
                padding: 15px 20px;
                color: $def-back;
                border-radius: $bradius; 
            }
        }
    }
}