* { margin: 0; padding: 0; box-sizing: border-box; font-family: Josefin Slab, 'Source Sans Pro'; }
$przesuniecie: -50px;
.second-div {
    background-color: black;
    .section-image { 
        background-image: url("img/menu-pizza/pizza-back1.png");
        background-size: cover; 
        height: 550px; 
        p { 
            color: white; 
            font-size: 60px; 
            transform: translateY($przesuniecie); 
        }
        .menu {
            
        }
    }
}
